.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.book-item img {
  width: 150px;
  height: 200px;
  object-fit: adjust;
}

.book-item h2 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.book-item h3 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 450;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  text-align: left;
  font-family: 'Karla', sans-serif;
}

.rating-container {
  display: flex;
  font-family: 'Karla', sans-serif;
  align-self: flex-start;
  font-size: 1rem;
  text-align: left;
  margin-top: 0.2rem;
}

.book-item-link {
  color: inherit;
  text-decoration: none;
}
