.book-details-container {
  padding: 50px;
  /* styles for the Grid container */
}

.book-cover-container {
  /* styles for the Grid item containing the book cover */
}

.book-cover-wrapper {
  width: 90%;
}

.book-cover {
  object-fit: contain;
}

.book-details-card {
  /* styles for the Grid item containing the book details */
}

.book-details-content {
  padding-top: 20px;
  text-align: left;
  /* other styles for the book details */
}

.book-details-container .book-title {
  font-size: 44px;
  font-weight: 700;
}

.book-details-container .book-summary {
  font-size: 16px; /* Adjust to your desired size */
  padding-top: 15px;
  padding-bottom: 15px;
}

.book-rating {
  /* styles for the book rating */
}

.book-details-container .book-details-text {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 15px;
}

.book-details-list {
  padding-bottom: 50px;
  /* styles for the book details list */
}

.grid-item .MuiTypography-root {
  font-size: 16px;
  font-weight: 600;
}

.grid-val .MuiTypography-root {
  font-size: 16px;
  font-weight: 500;
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.wide-button {
  width: 100%; /* This will make the button wider */
  text-align: center; /* This will center the text */
}
