.review-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}

.review-item {
  display: flex;
  align-items: center;
}

.review-item .username {
  margin-left: 8px;
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.review-item .date {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.review-item .comment {
  margin-top: -5px;
  font-size: 16px;
}
