.body {
  background-color: rgba(247, 247, 247);
}

.add-book-review-page {
  margin-top: 50px;
  background-color: rgba(247, 247, 247);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-instruction {
  /* Add styles for the instruction paragraphs here */
}

.review-form {
}

.revirew-button {
  margin-top: 20px;
}

.error-message {
  width: 100%;
  height: 40px;
}
